@import 'generales';
@import 'header';
@import 'main';
@import 'name';
@import 'about';
@import 'demo';
@import 'footer';
@media(max-width: 900px){
    .about{
        width: 95%;
        .card{
            width: 50%;
            padding: 12px;
            p{
                font-size: 16px;
                line-height: 30px;
            }
        }
    }
    .demo{
        width: 95%;
        .projectos{
            .projecto{
                width: 33%;
                h3{
                    font-size: 18px;
                }
                p{
                    font-size: 15px;
                }
            }
        }
    }
}

@media(max-width: 700px){
    .demo{
        .projectos{
            .projecto{
                width: 45%;
                margin: 10px 0px;
            }
        }
    }

    .about{
        width: 95%;
        justify-content: center;
        flex-wrap: wrap;
        .card{
            width: 80%;
        }
        .contacto{
            width: 80%;
        }
    }

}

@media(max-width: 500px){
    main{
        width: 90%;
        margin: auto;
        background: #fff;
        border-radius: 12px;
        padding: 12px;
        transform: translateY(-110px);
    }

    header{
        nav{
            ul{
                justify-content: center;
            }
        }
    }

    .name{
        h2{
            font-size: 25px;
        }
    }

    @keyframes typing{
        0%,90%,100%{
            width: 0;
        }
        30%,60%{
            width: 275px;
        }
    }

    .demo{
        .projectos{
            justify-content: center;
            .projecto{
                width: 80%;
                margin: 10px 0px;
            }
        }
    }
}